{% extends 'header.html' %}
{% load static %}
{% block header %}
<!DOCTYPE html>
<html lang="en">

<head>
 
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->

    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Our Brand</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- brand -->
    <div class="brand">
        <div class="container">

        </div>
        <div class="brand-bg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div class="brand_box">
                            <img src="{% static 'images/1.png' %}" alt="img" />
                            <h3>$<strong class="red">79</strong></h3>
                            <span>Samsung J7</span>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div class="brand_box">
                            <img src="{% static 'images/2.png' %}" alt="img" />
                            <h3>$<strong class="red">99</strong></h3>
                            <span>Galaxy A50s</span>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                        <div class="brand_box">
                            <img src="{% static 'images/3.png' %}" alt="img" />
                            <h3>$<strong class="red">150</strong></h3>
                            <span>Honor 9</span>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="brand_box">
                            <img src="{% static 'images/4.png' %}" alt="img" />
                            <h3>$<strong class="red">160</strong></h3>
                            <span>Poco m2</span>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                        <div class="brand_box">
                            <img src="{% static 'images/5.png' %}" alt="img" />
                            <h3>$<strong class="red">120</strong></h3>
                            <span>Oppo A7</span>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mrgn">
                        <div class="brand_box">
                            <img src="{% static 'images/6.png' %}" alt="img" />
                            <h3>$<strong class="red">100</strong></h3>
                            <span>Redmi note 10</span>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                            <i><img src="{% static 'images/star.png' %}"/></i>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a class="read-more">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end brand -->

    <!-- footer -->
    <footer>
        <div id="contact" class="footer">
            <div class="container">
                <div class="row pdn-top-30">
                    <div class="col-md-12 ">
                        <div class="footer-box">
                            <div class="headinga">
                                <h3>Address</h3>
                                <span>Healing Center, 176 W Streetname,New York, NY 10014, US</span>
                                <p>(+71) 8522369417
                                    <br>demo@gmail.com</p>
                            </div>
                            <ul class="location_icon">
                                <li> <a href="{% static '#' %}"><i class="fa fa-facebook-f"></i></a></li>
                                <li> <a href="{% static '#' %}"><i class="fa fa-twitter"></i></a></li>
                                <li> <a href="{% static '#' %}"><i class="fa fa-instagram"></i></a></li>

                            </ul>
                            <div class="menu-bottom">
                                <ul class="link">
                                    <li> <a href="#">Home</a></li>
                                    <li> <a href="#">About</a></li>
                                    
                                    <li> <a href="#">Brand </a></li>
                                    <li> <a href="#">Specials  </a></li>
                                    <li> <a href="#"> Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>© 2019 All Rights Reserved. Design By<a href="{% static 'https://html.design/' %}"> Free Html Templates</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- javascript -->
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="{% static 'https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function() {

                $(this).addClass('transition');
            }, function() {

                $(this).removeClass('transition');
            });
        });
    </script>
</body>

</html>
{% endblock %}